@model MVCRiceStore.Models.Client

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<h2>@Html.DisplayFor(model=>model.Name)</h2>


<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-4">@Html.Label("Name")</div>
                    <div class="col-md-8">@Html.EditorFor(model => model.Name)</div>

                </div>

                <div class="form-group">
                    <div class="col-md-4">@Html.Label("Note")</div>
                    <div class="col-md-8">@Html.TextAreaFor(model => model.Note)</div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        }
    </div>

    <div class="col-md-8">
        Client Order List
        <p>@Html.ActionLink("Create Order", "Create", "ClientOrder", new {clientId=Model.Id}, null)</p>
        <table class="table">
            <tr>
                <th>@Html.DisplayName("Store")</th>
                <th>@Html.DisplayName("Rice Type")</th>
                <th>@Html.DisplayName("Kilograms")</th>
            </tr>
            @foreach (var clientOrder in Model.ClientOrders)
            {
                <tr>
                    <td>@Html.DisplayFor(c => clientOrder.StoreId)</td>
                    <td>@Html.DisplayFor(c => clientOrder.RiceId)</td>
                    <td>@Html.DisplayFor(c=>clientOrder.Kilogram)</td>
                </tr>
            }
        </table>

        <br/>
        <table class="table">
            <tr>
                <th>@Html.DisplayName("Store")</th>
                <th>@Html.DisplayName("Rice")</th>
                <th>@Html.DisplayName("Kilo")</th>
            </tr>
        </table>

    </div>
</div>


