@using MVCRiceStore.Models
@model MVCRiceStore.Models.Client

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<h2>@Html.DisplayFor(model=>model.Name)</h2>

@{
    var message = "";
    
}
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-4">@Html.Label("Name")</div>
                    <div class="col-md-4">@Html.EditorFor(model => model.Name)</div>
                    <div class="col-md-4 field-validation-error ">@Html.ValidationMessageFor(model=>model.Name)</div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">@Html.Label("Note")</div>
                    <div class="col-md-4">@Html.TextAreaFor(model => model.Note)</div>
                    <div class="col-md-4"></div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        }
    </div>

    <div class="col-md-8">
        Client Order List
        <p>@Html.ActionLink("Create Order", "Create", "ClientOrder", new {clientId=Model.Id}, null)</p>
        @{
            List<OrderViewModel> orderList = ViewBag.OrderDisplayList;            
        }
        <table class="table">
            <tr>
                <th>@Html.DisplayName("Store")</th>
                <th>@Html.DisplayName("Rice")</th>
                <th>@Html.DisplayName("Kilo")</th>
            </tr>
            @foreach (var obj in orderList){
                <tr>
                    <td>@Html.DisplayFor(o => obj.StoreName )</td>
                    <td>@Html.DisplayFor(o => obj.RiceType)</td>
                    <td>@Html.DisplayFor(o => obj.Kilogram)</td>
                    <td>@Html.ActionLink("Edit", "Edit", "ClientOrder", new {id = obj.ClientOrderId}, null)</td>
                    <td>@Html.ActionLink("Delete", "Delete", "ClientOrder", new {id = obj.ClientOrderId}, null)</td>
                </tr>                
            }
        </table>

    </div>
</div>


