@model MVCRiceStore.Models.Client

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<h2>@Html.DisplayFor(model=>model.Name)</h2>

@using (Html.BeginForm()) { 

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2">@Html.Label("Name")</div>
            <div class="col-md-10">@Html.EditorFor(model=>model.Name)</div>

        </div>

        <div class="form-group">            
            <div class="col-md-2">@Html.Label("Note")</div>
            <div class="col-md-10">@Html.TextAreaFor(model=>model.Note)</div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>

    </div>
}