@model MVCRiceStore.Models.OrderViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-4">@Html.Label("Store")</div>
            <div class="col-md-8">@Html.DisplayFor(model=>model.StoreName)</div>
        </div>

        <div class="form-group">
            <div class="col-md-4">@Html.Label("Rice")</div>
            <div class="col-md-8">@Html.DisplayFor(model => model.RiceType)</div>
        </div>

        <div class="form-group">
            <div class="col-md-4">@Html.Label("Kilogram")</div>
            <div class="col-md-8">@Html.DisplayFor(model => model.Kilogram)</div>
        </div>


        <div class="form-group">
            <input type="submit" value="Delete"/>
        </div>
    </div>
}