@model MVCRiceStore.Models.ClientOrder

@{
    ViewBag.Title = "Edit";

    List<SelectListItem> storeList = ViewBag.StoreList;
    List<SelectListItem> riceList = ViewBag.RiceList;
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-4">@Html.Label("Store")</div>
            <div class="col-md-8">@Html.DropDownListFor(model => model.StoreId, storeList)</div>
        </div>

        <div class="form-group">
            <div class="col-md-4">@Html.Label("Rice")</div>
            <div class="col-md-8">@Html.DropDownListFor(model => model.RiceId, riceList)</div>
        </div>

        <div class="form-group">
            <div class="col-md-4">@Html.Label("Kilogram")</div>
            <div class="col-md-8">@Html.EditorFor(model => model.Kilogram)</div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save"/>
        </div>
    </div>
}