@using MVCRiceStore.Models
@using PagedList
@model OrderListViewModel


@{
    ViewBag.Title = "Client Orders";
}

<h2>@ViewBag.Title</h2>

<br/><br/>
@using (Ajax.BeginForm(new AjaxOptions()
                       {
                           HttpMethod = "get",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "orderList"
                       }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                @Html.Label("Store Name") 
                
                @Html.TextBoxFor(model => model.StoreName)
            </div>
            <div class="col-md-3">
                @Html.Label("Client Name")
                
                @Html.TextBoxFor(model => model.ClientName)
            </div>
            <div class="col-md-6">
                <input type="submit" value="Search" />
            </div>
        </div>

    </div>
}
<br/><br/>


@Html.Partial("Orders", Model)