@model IEnumerable<MVCRiceStore.Models.OrderViewModel>

<div id="orderList">
    <table class="table">
        <tr>
            <th>@Html.DisplayName("Order Id")</th>
            <th>@Html.DisplayName("Client Id")</th>
            <th>@Html.DisplayName("Client Name")</th>
            <th>@Html.DisplayName("Store Name")</th>
            <th>@Html.DisplayName("Rice Type")</th>
            <th>@Html.DisplayName("Kilogram")</th>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>@Html.DisplayFor(o => order.ClientOrderId)</td>
                <td>@Html.DisplayFor(o => order.ClientId)</td>
                <td>@Html.DisplayFor(o => order.ClientName)</td>
                <td>@Html.DisplayFor(o => order.StoreName)</td>
                <td>@Html.DisplayFor(o => order.RiceType)</td>
                <td>@Html.DisplayFor(o => order.Kilogram)</td>
            </tr>
        }
    </table>
</div>


