@using MVCRiceStore.Models
@model MVCRiceStore.Models.StoreViewModel

@{
    ViewBag.Title = "Create New Store";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-4">@Html.Label("Name")</div>
            <div class="col-md-8">@Html.EditorFor(model => model.Name)</div>
        </div>

        <div class="form-group">
            <div class="col-md-4">@Html.Label("Address")</div>
            <div class="col-md-8">@Html.EditorFor(model => model.Address)</div>
        </div>

        <div class="form-group">
            <div class="col-md-4">@Html.Label("Suburb")</div>
            <div class="col-md-8">@Html.EditorFor(model => model.Suburb)</div>
        </div>

        <div class="form-group">
            <div class="col-md-4">@Html.Label("Postcode")</div>
            <div class="col-md-8">@Html.EditorFor(model => model.Postcode)</div>
        </div>

        <div class="form-group">
            <div class="col-md-3">@Html.Label("Available Rice")</div>
            @{
                var listItems = new List<object>();
                var riceList = ViewBag.RiceList;

                //var availableRice = Model.store.rices;
                
                if(riceList!=null)
                {
                    foreach(Rice r in riceList)
                    {
                        listItems.Add(new {Value = r.Id.ToString(), Text = r.Description});
                    }
                }
                
            }
            <div class="col-md-5">@Html.ListBoxFor(model=>model.rices, new SelectList(listItems,"Value", "Text"))</div>
        </div>

        <div class="form-group">
            <input type="submit" value="Create"/>
        </div>
    </div>
}

