@using System.ServiceModel.Dispatcher
@using MVCRiceStore.Models;
@model MVCRiceStore.Models.StoreViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<h2>@Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">@Html.Label("Name")</div>
            <div class="col-md-9">@Html.EditorFor(mode=>Model.Name)</div>
        </div>

        <div class="form-group">
            <div class="col-md-3">@Html.Label("Address")</div>
            <div class="col-md-9">@Html.EditorFor(model=>model.Address)</div>
        </div>

        <div class="form-group">
            <div class="col-md-3">@Html.Label("Suburb")</div>
            <div class="col-md-9">@Html.EditorFor(model => model.Suburb)</div>
        </div>

        <div class="form-group">
            <div class="col-md-3">@Html.Label("State")</div>
            <div class="col-md-9">@Html.EditorFor(model => model.State)</div>
        </div>

        <div class="form-group">
            <div class="col-md-3">@Html.Label("Postcode")</div>
            <div class="col-md-9">@Html.EditorFor(model=>model.Postcode)</div>
        </div>

        <div class="form-group">
            <div class="col-md-3">@Html.Label("Available Rice")</div>
            @{
                /*
                var listItems = new List<SelectListItem>();
                var riceList = ViewBag.RiceList;

                var selectedRices = new List<Rice>();

                var riceItems = new List<Object>();
                string[] selectedValues;

                if (Model.rices != null) {
                    selectedRices = Model.rices;
                }

                if (riceList != null) {
                    foreach (Rice r in riceList) {
                        if (selectedRices.IndexOf(r) >= 0)
                        {
                            var aSelectedItem = new SelectListItem() { Text = r.Type, Value = r.Id.ToString()};

                            aSelectedItem.Selected = true;
                            
                            listItems.Add(aSelectedItem);
                            selectedValues.Add(r.Id);
                        }
                        else {
                            listItems.Add(new SelectListItem(){ Text = r.Type, Value = r.Id.ToString()});
                        }
                        
                        riceItems.Add(new {Text=r.Type, Value=r.Id});
                        
                        
                    }
                }

                ViewBag.listItems2 = listItems;
                var listItems2 = new List<SelectListItem>();

                listItems2 = ViewBag.listItems2;
                 * */
            }
            @*<div class="col-md-9">@Html.ListBoxFor(model => model.rices, listItems)</div>*@
            @*<div class="col-md-9">@Html.ListBoxFor(model => model.rices, new MultiSelectList(riceItems, "Value", "Text", selectedValues), new {Multiple = "multiple"})</div>*@
            @{
                var myListItems = new List<SelectListItem>();
                myListItems = ViewBag.MyList;
                
                SelectList sl = new SelectList(myListItems,"Value","Text");
            }
            <div class="col-md-9">@Html.ListBoxFor(model => model.rices, myListItems)</div>
            @*<div class="col-md-9">@Html.ListBox("Rice List", listItems2)</div>*@            
        </div>
        

        <div class="form-group">
            <input type="submit" value="Save"/>
        </div>

    </div>
    
}
